body {
  /* border(box)の外側の余白 */
  margin: 0;
  /* border(box)の内側の余白 */
  padding: 0;
  width: 100%;
  height: 100%;
}

/* #: ハッシュマークまたはナンバー記号。読み方は音楽記号のシャープではありません*/
#container {
  width: 900px;
  height: 600px;
  background-color: blue;
}